
:root{
    --background-color:#000;
    --text-color:#999;
    --title-color:#fff;
}


.dark-theme{
    --background-color:#fff;
    --text-color:#000;
    --title-color:#000;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    transition: background 2s,color 2s;
}
.container{
    margin: auto;
    width: 1320px;

}

.outer
{
    width: 1300px;
    height: 800px;
    
    background-image: url("../images/cover.png") ;
    background-size: cover;
    background-repeat: no-repeat;

}
.inner-text
{
    text-align: center;
    padding-top:35px ;
}
.box{
    height:250px;
    width: 650px;
    height: 250px;
    box-shadow: 5px;

}
#b1,#b3,#b5{
    float:left;
    padding: 10px;
    border: 3px solid gray ;
    border-radius: 10px;
    margin: 20px;
}
#b2,#b4{
    float:right;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    
}
.btn{
    background-color: darkgray;
}

.toggle-btn{
    background: #454545;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.toggle-btn img{
    width: 25px;
    margin-left:0px ;
}


.image-box{
    bottom: 2;
    right: -10%;
    position: absolute;
}
.pattern{
    position: absolute;
    top: -20%;
    left: 25%;
    display: flex;
    transform: rotate(40deg);
    z-index: -1;
}
.pattern img{
    width: 550px;
    position: absolute;
    top: 60%;
    left: 0;
    animation: move 1s linear infinite alternate-reverse;
}
.pattern img:nth-child(1){
    transform: rotate(-75deg) translate(-70px,-50px);
}
.pattern img:nth-child(2){
    transform: rotate(15deg) translate(00px,-40px);
}
@keyframes move {
    100%{
        margin-left: 40px;
        margin-top: 20px;
        opacity: 0.1;
    }
    
}
